body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:500px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:500px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:54px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:225px;
  width:174px;
  height:53px;
}
#u267_img.mouseOver {
}
#u267.mouseOver {
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:170px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:54px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:304px;
  width:174px;
  height:53px;
}
#u268_img.mouseOver {
}
#u268.mouseOver {
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:170px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:54px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:383px;
  width:174px;
  height:53px;
}
#u269_img.mouseOver {
}
#u269.mouseOver {
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:170px;
  word-wrap:break-word;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:47px;
  width:181px;
  height:50px;
  font-family:'华文行楷 Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:54px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:141px;
  width:174px;
  height:53px;
}
#u271_img.mouseOver {
}
#u271.mouseOver {
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:170px;
  word-wrap:break-word;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:48px;
  width:202px;
  height:54px;
  font-family:'华文行楷 Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
