body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:500px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:500px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Oblique', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:11px;
  width:156px;
  height:25px;
  font-family:'华文行楷 Oblique', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:152px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:38px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:448px;
  width:117px;
  height:37px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:385px;
  background:-webkit-linear-gradient(270deg, rgba(204, 204, 51, 1) 0%, rgba(204, 204, 51, 1) 0%, rgba(255, 255, 102, 1) 100%, rgba(255, 255, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(204, 204, 51, 1) 0%, rgba(204, 204, 51, 1) 0%, rgba(255, 255, 102, 1) 100%, rgba(255, 255, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(204, 204, 51, 1) 0%, rgba(204, 204, 51, 1) 0%, rgba(255, 255, 102, 1) 100%, rgba(255, 255, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:58px;
  width:305px;
  height:385px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:305px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:152px;
  width:1px;
  height:304px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:317px;
  width:198px;
  height:33px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:194px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:360px;
  width:198px;
  height:33px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:194px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:140px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:304px;
  width:1px;
  height:139px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:403px;
  width:198px;
  height:33px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:194px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:140px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:304px;
  width:1px;
  height:139px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:245px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:58px;
  width:249px;
  height:245px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
