body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:500px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:500px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:385px;
  background:-webkit-linear-gradient(270deg, rgba(204, 204, 51, 1) 0%, rgba(204, 204, 51, 1) 0%, rgba(255, 255, 102, 1) 100%, rgba(255, 255, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(204, 204, 51, 1) 0%, rgba(204, 204, 51, 1) 0%, rgba(255, 255, 102, 1) 100%, rgba(255, 255, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(204, 204, 51, 1) 0%, rgba(204, 204, 51, 1) 0%, rgba(255, 255, 102, 1) 100%, rgba(255, 255, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:58px;
  width:305px;
  height:385px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:112px;
  width:285px;
  height:254px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:38px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:384px;
  width:117px;
  height:37px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:38px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:384px;
  width:117px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:77px;
  height:28px;
  font-size:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:156px;
  width:281px;
  height:206px;
}
#u23_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:206px;
  overflow:auto;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:137px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:211px;
  width:265px;
  height:137px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Oblique', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:73px;
  width:145px;
  height:39px;
  font-family:'华文行楷 Oblique', '华文行楷';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#000000;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:170px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
